@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #212832;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.decoration {
  position: absolute;
  top: 0;
  left: 0;
}

.ellipse {
  fill: #d5aee4;
  background: #d5aee4;
  opacity: 0.3;
  -webkit-filter: blur(150px);
          filter: blur(150px);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 49px;
  z-index: 9;
}

.header__container {
  max-width: 1160px;
  margin: 0 auto;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-image {
  max-height: 35px;
}

.header__nav {
  padding-top: 4px;
  max-width: 828px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__list li:first-child {
  margin-right: 51px;
}

.header__list li:nth-child(2) {
  margin-right: 62px;
}

.header__list li:nth-child(3) {
  margin-right: 62px;
}

.header__list li:nth-child(4) {
  margin-right: 86px;
}

.header__list li:nth-child(5) {
  margin-right: 51px;
}

.header__list li:nth-child(6) {
  margin-right: 42px;
}

.header__item:hover {
  opacity: 0.3;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.reg__btn {
  padding: 8px 18px 7px 22px;
  border: 1px solid #212832;
  border-radius: 5px;
}

.header__link {
  color: #212832;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
}

.lang {
  position: relative;
  padding-right: 15px;
}

.lang:hover {
  opacity: 1;
}

.lang::after {
  content: url(../img/icons/mark-icon.svg);
  position: absolute;
  top: -1px;
  right: -2px;
}

.header__language {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.header__language-link {
  color: #212832;
}

.header__language li a {
  padding: 3px;
}

.header__language li a:hover {
  color: #f1a501;
  opacity: 1;
}

.header__nav .header__language {
  display: none;
}

.header__nav ul li:hover .header__language {
  display: block;
}

.intro {
  padding-top: 80px;
  position: relative;
  min-height: 100vh;
  background: url(../img/intro-decore1.png) no-repeat;
  background-position: 736px 0px;
}

.intro__container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.intro__block {
  padding: 138px 28px;
  max-width: 50%;
  background: url(../../img/intro-decore2.png) no-repeat;
  background-position: 273px 261px;
}

.intro__title {
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #df6951;
}

.intro__subtitle {
  margin-bottom: 29px;
  padding-left: 2px;
  font-family: "Volkhov", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 89px;
  letter-spacing: -0.04em;
  color: #181e4b;
}

.intro__text {
  margin-bottom: 33px;
  max-width: 477px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #5e6282;
}

.intro__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.intro__btn-find {
  display: block;
  margin-right: 118px;
  padding: 19px 24px 16px;
  border-radius: 10px;
  background-color: #f1a501;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}

.intro__btn-demo {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #686d77;
  position: relative;
}

.intro__btn-demo::before {
  content: url(../../img/icons/play-icon.svg);
  background-color: #df6951;
  padding: 50px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.intro__image {
  position: absolute;
  top: 26px;
  right: -29px;
  max-width: 66%;
}

.intro__image-pic {
  max-width: 100%;
}
