// Файл обнуляющих стилей
@import "_nullstyle";

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #212832;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
.decoration {
  position: absolute;
  top: 0;
  left: 0;
}
.ellipse {
  fill: #d5aee4;
  background: #d5aee4;
  opacity: 0.3;
  filter: blur(150px);
}

//*header start----------------
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 49px;
  z-index: 9;
}
.header__container {
  max-width: 1160px;
  margin: 0 auto;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__logo-image {
  max-height: 35px;
}
.header__nav {
  padding-top: 4px;
  max-width: 828px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & li:first-child {
    margin-right: 51px;
  }
  & li:nth-child(2) {
    margin-right: 62px;
  }
  & li:nth-child(3) {
    margin-right: 62px;
  }
  & li:nth-child(4) {
    margin-right: 86px;
  }
  & li:nth-child(5) {
    margin-right: 51px;
  }
  & li:nth-child(6) {
    margin-right: 42px;
  }
}

.header__item:hover {
  opacity: 0.3;
  transition: all 0.2s ease;
}

.reg__btn {
  padding: 8px 18px 7px 22px;
  border: 1px solid #212832;
  border-radius: 5px;
}
.header__link {
  color: #212832;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
}
.lang {
  position: relative;
  padding-right: 15px;
  &:hover {
    opacity: 1;
  }
  &::after {
    content: url(../img/icons/mark-icon.svg);
    position: absolute;
    top: -1px;
    right: -2px;
  }
}

.header__language {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.header__language-link {
  color: #212832;
}
.header__language li a {
  padding: 3px;
  &:hover {
    color: #f1a501;
    opacity: 1;
  }
}
.header__nav .header__language {
  display: none;
}

.header__nav ul li:hover .header__language {
  display: block;
}

//*header end---------------------
//*intro start--------------------
.intro {
  padding-top: 80px;
  margin-bottom: 84px;
  position: relative;
  min-height: 100%;
  background: url(../img/intro-decore1.png) no-repeat;
  background-position: 736px 0px;
}

.intro__container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.intro__block {
  padding: 138px 28px;
  max-width: 50%;
  background: url(../../img/intro-decore2.png) no-repeat;
  background-position: 273px 261px;
}
.intro__title {
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #df6951;
}
.intro__subtitle {
  margin-bottom: 29px;
  padding-left: 2px;
  font-family: "Volkhov", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 89px;
  letter-spacing: -0.04em;
  color: #181e4b;
}
.intro__text {
  margin-bottom: 33px;
  max-width: 477px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #5e6282;
}
.intro__buttons {
  display: flex;
  align-items: baseline;
}
.intro__btn-find {
  display: block;
  margin-right: 118px;
  padding: 19px 24px 16px;
  border-radius: 10px;
  background-color: #f1a501;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  transition: all 0.2s ease;
  &:hover,
  &:active,
  &:focus {
    background-color: #df6951;
  }
}
.intro__btn-demo {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #686d77;
  position: relative;
  transition: all 0.2s ease;
  &:hover,
  &:active,
  &:focus {
    color: #ff0000;
  }
  &::before {
    content: url(../img/icons/play-icon.svg);
    width: 15px;
    height: 15px;
    background-color: #df6951;
    padding: 15px 31px 37px 21px;
    border-radius: 50%;
    position: absolute;
    transition: all 0.2s ease;
    top: -15px;
    left: -74px;
    box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
  }
  &:hover::before,
  &:active::before,
  &:focus::before {
    background-color: #b12307;
  }
}
.intro__image {
  position: absolute;
  top: 26px;
  right: -29px;
  max-width: 66%;
}
.intro__image-pic {
  max-width: 100%;
}
//*intro end----------------------
//*category start-----------------
.category {
  margin-right: 38px;
  margin-bottom: 200px;
  position: relative;
}
.category__container {
  max-width: 1095px;
  margin: 0 auto;
}
.plus__area {
  color: #e5e5e5;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: -4px;
  right: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 15px;
  column-gap: 22px;
}
.plus-orange {
  color: #ff7152;
}
.plus-purple {
  color: #6246e5;
}
.plus-invisible {
  opacity: 0;
}
.title__category {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5e6282;
}
.subtitle__category {
  text-align: center;
  margin-bottom: 66px;
}
.subtitle {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  text-transform: capitalize;
}
.category__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}
.category__block {
  flex: 1 1 25%;
  max-width: 195px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.second-block {
  z-index: 2;
}
.second-block::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -47%;
  left: -11%;
  transform: translate(-50%, -50%);
  padding: 50px 50px;
  background: #df6951;
  border-radius: 30px 0px 10px;
  z-index: -2;
}
.second-block::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 179px 134px;
  background-color: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 36px;
  z-index: -1;
  overflow: hidden;
}

.item__picture-antenna {
  margin-bottom: 30px;
  margin-left: 4px;
  max-height: 78px;
}
.item__picture-plane {
  margin-bottom: -4px;
  max-height: 154px;
}
.item__picture-microphone {
  max-height: 75px;
  margin-bottom: 35px;
  margin-left: 26px;
}

.item__picture-customization {
  max-height: 66px;
  margin-bottom: 31px;
  margin-left: 25px;
}
.category__item-title {
  word-spacing: -2px;
  margin-bottom: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #1e1d4c;
}
.first-block > .category__item-title {
  letter-spacing: -0.2px;
  word-spacing: 1px;
}
.second-block > .category__item-title {
  margin-right: 9px;
}
.third-block > .category__item-title {
  word-spacing: -1px;
}

.category__item-text {
  max-width: 181px;
  max-height: 78px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #5e6282;
}
.third-block > .category__item-text {
  margin-left: 10px;
}
//*category end-------------------
//*topsell start------------------
.topsell {
  margin-bottom: 185px;
}
.topsell__container {
  max-width: 1102px;
  margin: 0 auto;
}
.topsell__title {
  text-align: center;
  margin-right: 75px;
  margin-bottom: 10px;
}
.topsell__subtitle {
  margin-right: 40px;
  margin-bottom: 57px;
}
.topsell__wrapper {
  margin-left: 2px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.topsell__card {
  flex: 0 1 29%;
  position: relative;
  margin-right: 31px;
}
.super-offer {
  margin: 0 54px 0 auto;
  position: relative;
  &::after {
    content: "";
    width: 100px;
    height: 255px;
    background: url(../../img/top-decore.png) no-repeat;
    position: absolute;
    bottom: 46px;
    right: -61px;
    z-index: -5;
  }
}
.topsell__card-pic {
  width: 100%;
}
.topsell__rome-pic {
  width: 100%;
}
.topsell__link {
  display: block;
  &:hover {
    border-radius: 28px;
    box-shadow: 0 0px 17px rgba($color: rgb(0, 0, 0), $alpha: 0.25);
    transition: all 0.2s ease;
  }
}
.topsell__card-desc {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 26px 29px 42px 22px;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 1px 10px rgba($color: #000, $alpha: 0.07);
}
.topsell__card-title {
  margin-bottom: 19px;
  display: flex;
  justify-content: space-between;
  color: #5e6282;
  line-height: 124.5%;
  font-weight: 500;
}

.topsell__card-duration {
  padding-left: 32px;
  color: #5e6282;
  line-height: 124.5%;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  &::before {
    content: url(../img/icons/nav-icon.svg);

    display: block;
    position: absolute;
    top: 0;
    left: -3px;
  }
}
//*topsell end--------------------
//*booking start------------------
.booking {
  margin-bottom: 185px;
}
.booking__container {
  max-width: 1065px;
  margin: 0 auto;
}
.booking__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.booking__desc {
  max-width: 50%;
}
.booking__title {
  margin-bottom: 17px;
}
.booking__subtitle {
  margin-bottom: 32px;
  text-align: start;
  max-width: 511px;
  letter-spacing: 0.01px;
}
.booking__step {
  padding-left: 68px;
  margin-bottom: 48px;
  font-size: 16px;
  line-height: 124.5%;
  color: #5e6282;
}
.step__title {
  margin-bottom: 5px;
  font-weight: 700;
}
.step__text {
  max-width: 327px;
  font-weight: 400;
}
.first-step {
  position: relative;
  &::before {
    content: url(../img/icons/choose-icon.svg);
    position: absolute;
    top: 3px;
    left: -1px;
    padding: 13px 11px 9px 13px;
    background-color: #f0bb1f;
    border-radius: 13px;
  }
}
.second-step {
  position: relative;
  &::before {
    content: url(../img/icons/swim-icon.svg);
    position: absolute;
    top: 3px;
    left: -1px;
    padding: 14px 11px 11px 13px;
    background-color: #f15a2b;
    border-radius: 13px;
  }
}
.third-step {
  position: relative;
  &::before {
    content: url(../img/icons/taxi-icon.svg);
    position: absolute;
    top: 2px;
    left: -1px;
    padding: 15px 11px 9px 12px;
    background-color: #006380;
    border-radius: 13px;
  }
}
.booking__card {
  position: relative;
  margin-right: 65px;
  padding: 20px 25px 31px 25px;
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 26px;
}
.booking__card-img {
  margin-bottom: 26px;
}
.booking__card-pic {
}
.booking__card-title {
  margin-bottom: 13px;
  font-weight: 500;
  line-height: 124.5%;
  letter-spacing: 0.015em;
  color: #080809;
}
.booking__card-date {
  margin-bottom: 21px;
  margin-right: 13px;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  letter-spacing: -0.005em;
  color: #84829a;
  position: relative;
  // border-right: 1px solid #84829a;
  &::after {
    content: "";
    position: absolute;
    right: -13px;
    top: 7px;
    width: 16px;
    height: 1px;
    background-color: #84829a;
    border: 1px solid #84829a;
    transform: rotate(90deg);
  }
}
.booking__card-desc {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  letter-spacing: -0.005em;
  color: #84829a;
}
.booking__card-quantity {
  padding-left: 31px;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  letter-spacing: -0.02em;
  color: #84829a;
}
.booking__card-ongoing {
  position: absolute;
  right: 0;
  bottom: 0;
}
.ongoing__title {
}
.ongoing__route {
}
.ongoing__progress {
}
//*booking end--------------------
