// Файл обнуляющих стилей
@import "_nullstyle";

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #212832;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
//*header start----------------
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 47px;
  z-index: 9;
}
.header__container {
  max-width: 1160px;
  margin: 0 auto;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__logo-image {
  max-height: 35px;
}
.header__nav {
  padding-top: 6px;
  max-width: 828px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & li:first-child {
    margin-right: 51px;
  }
  & li:nth-child(2) {
    margin-right: 62px;
  }
  & li:nth-child(3) {
    margin-right: 62px;
  }
  & li:nth-child(4) {
    margin-right: 86px;
  }
  & li:nth-child(5) {
    margin-right: 51px;
  }
  & li:nth-child(6) {
    margin-right: 42px;
  }
}

.header__item:hover {
  opacity: 0.3;
  transition: all 0.2s ease;
}

.reg__btn {
  padding: 8px 18px 7px 22px;
  border: 1px solid #212832;
  border-radius: 5px;
}
.header__link {
  color: #212832;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
}
.lang {
  position: relative;
  padding-right: 15px;
  &:hover {
    opacity: 1;
  }
  &::after {
    content: url(../img/icons/mark-icon.svg);
    position: absolute;
    top: -1px;
    right: -2px;
  }
}

.header__language {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.header__language-link {
  color: #212832;
}
.header__language li a {
  padding: 3px;
  &:hover {
    color: #f1a501;
    opacity: 1;
  }
}
.header__nav .header__language {
  display: none;
}

.header__nav ul li:hover .header__language {
  display: block;
}

//*header end---------------------
//*intro start--------------------
.intro {
  padding-top: 80px;
  position: relative;
  min-height: 100vh;
  background: url(../img/intro-decore1.png) no-repeat;
  background-position: 736px 0px;
}
.intro__container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.intro__wrapper {
}
.intro__block {
  padding: 137px 28px;
  max-width: 50%;
  background: url(../../img/intro-decore2.png) no-repeat;
  background-position: 273px 260px;
}
.intro__title {
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #df6951;
}
.intro__subtitle {
  margin-bottom: 29px;
  padding-left: 2px;
  font-family: "Volkhov", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 89px;
  letter-spacing: -0.04em;
  color: #181e4b;
}
.intro__text {
  margin-bottom: 20px;
  max-width: 477px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #5e6282;
}
.intro__buttons {
}
.intro__btn-find {
}
.intro__btn-demo {
}
.intro__image {
  position: absolute;
  top: 24px;
  right: -29px;
  max-width: 66%;
}
.intro__image-pic {
  max-width: 100%;
}
//*intro end----------------------
