// Файл обнуляющих стилей
@import "_nullstyle";

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #212832;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
.decoration {
  position: absolute;
  top: 0;
  left: 0;
}
.ellipse {
  fill: #d5aee4;
  background: #d5aee4;
  opacity: 0.3;
  filter: blur(150px);
}

//*header start----------------
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 49px;
  z-index: 9;
}
.header__container {
  max-width: 1160px;
  margin: 0 auto;
}
.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__logo-image {
  max-height: 35px;
}
.header__nav {
  padding-top: 4px;
  max-width: 828px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  & li:first-child {
    margin-right: 51px;
  }
  & li:nth-child(2) {
    margin-right: 62px;
  }
  & li:nth-child(3) {
    margin-right: 62px;
  }
  & li:nth-child(4) {
    margin-right: 86px;
  }
  & li:nth-child(5) {
    margin-right: 51px;
  }
  & li:nth-child(6) {
    margin-right: 42px;
  }
}

.header__item:hover {
  opacity: 0.3;
  transition: all 0.2s ease;
}

.reg__btn {
  padding: 8px 18px 7px 22px;
  border: 1px solid #212832;
  border-radius: 5px;
}
.header__link {
  color: #212832;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
}
.lang {
  position: relative;
  padding-right: 15px;
  &:hover {
    opacity: 1;
  }
  &::after {
    content: url(../img/icons/mark-icon.svg);
    position: absolute;
    top: -1px;
    right: -2px;
  }
}

.header__language {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.header__language-link {
  color: #212832;
}
.header__language li a {
  padding: 3px;
  &:hover {
    color: #f1a501;
    opacity: 1;
  }
}
.header__nav .header__language {
  display: none;
}

.header__nav ul li:hover .header__language {
  display: block;
}

//*header end---------------------
//*intro start--------------------
.intro {
  padding-top: 80px;
  margin-bottom: 84px;
  position: relative;
  min-height: 100%;
  background: url(../img/intro-decore1.png) no-repeat;
  background-position: 736px 0px;
}

.intro__container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
.intro__block {
  padding: 138px 28px;
  max-width: 50%;
  background: url(../img/intro-decore2.png) no-repeat;
  background-position: 273px 261px;
}
.intro__title {
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #df6951;
}
.intro__subtitle {
  margin-bottom: 29px;
  padding-left: 2px;
  font-family: "Volkhov", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 89px;
  letter-spacing: -0.04em;
  color: #181e4b;
}
.intro__text {
  margin-bottom: 33px;
  max-width: 477px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #5e6282;
}
.intro__buttons {
  display: flex;
  align-items: baseline;
}
.intro__btn-find {
  display: block;
  margin-right: 118px;
  padding: 19px 24px 16px;
  border-radius: 10px;
  background-color: #f1a501;
  box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  transition: all 0.2s ease;
  &:hover,
  &:active,
  &:focus {
    background-color: #df6951;
  }
}
.intro__btn-demo {
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #686d77;
  position: relative;
  transition: all 0.2s ease;
  &:hover,
  &:active,
  &:focus {
    color: #ff0000;
  }
  &::before {
    content: url(../img/icons/play-icon.svg);
    width: 15px;
    height: 15px;
    background-color: #df6951;
    padding: 15px 31px 37px 21px;
    border-radius: 50%;
    position: absolute;
    transition: all 0.2s ease;
    top: -15px;
    left: -74px;
    box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
  }
  &:hover::before,
  &:active::before,
  &:focus::before {
    background-color: #b12307;
  }
}
.intro__image {
  position: absolute;
  top: 26px;
  right: -29px;
  max-width: 66%;
}
.intro__image-pic {
  max-width: 100%;
}
//*intro end----------------------
//*category start-----------------
.category {
  margin-right: 38px;
  margin-bottom: 200px;
  position: relative;
}
.category__container {
  max-width: 1095px;
  margin: 0 auto;
}
.plus__area {
  color: #e5e5e5;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  top: -4px;
  right: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 15px;
  column-gap: 22px;
}
.plus-orange {
  color: #ff7152;
}
.plus-purple {
  color: #6246e5;
}
.plus-invisible {
  opacity: 0;
}
.title__category {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5e6282;
}
.subtitle__category {
  text-align: center;
  margin-bottom: 66px;
}
.subtitle {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  text-transform: capitalize;
}
.category__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}
.category__block {
  flex: 1 1 25%;
  max-width: 195px;
  text-align: center;
  position: relative;
  z-index: 2;
}
.second-block {
  z-index: 2;
}
.second-block::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -47%;
  left: -11%;
  transform: translate(-50%, -50%);
  padding: 50px 50px;
  background: #df6951;
  border-radius: 30px 0px 10px;
  z-index: -2;
}
.second-block::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 179px 134px;
  background-color: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 36px;
  z-index: -1;
  overflow: hidden;
}

.item__picture-antenna {
  margin-bottom: 30px;
  margin-left: 4px;
  max-height: 78px;
}
.item__picture-plane {
  margin-bottom: -4px;
  max-height: 154px;
}
.item__picture-microphone {
  max-height: 75px;
  margin-bottom: 35px;
  margin-left: 26px;
}

.item__picture-customization {
  max-height: 66px;
  margin-bottom: 31px;
  margin-left: 25px;
}
.category__item-title {
  word-spacing: -2px;
  margin-bottom: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #1e1d4c;
}
.first-block > .category__item-title {
  letter-spacing: -0.2px;
  word-spacing: 1px;
}
.second-block > .category__item-title {
  margin-right: 9px;
}
.third-block > .category__item-title {
  word-spacing: -1px;
}

.category__item-text {
  max-width: 181px;
  max-height: 78px;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #5e6282;
}
.third-block > .category__item-text {
  margin-left: 10px;
}
//*category end-------------------
//*topsell start------------------
.topsell {
  margin-bottom: 185px;
}
.topsell__container {
  max-width: 1102px;
  margin: 0 auto;
}
.topsell__title {
  text-align: center;
  margin-right: 75px;
  margin-bottom: 10px;
}
.topsell__subtitle {
  margin-right: 40px;
  margin-bottom: 57px;
}
.topsell__wrapper {
  margin-left: 2px;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.topsell__card {
  flex: 0 1 29%;
  position: relative;
  margin-right: 31px;
}
.super-offer {
  margin: 0 54px 0 auto;
  position: relative;
  &::after {
    content: "";
    width: 100px;
    height: 255px;
    background: url(../img/top-decore.png) no-repeat;
    position: absolute;
    bottom: 46px;
    right: -61px;
    z-index: -5;
  }
}
.topsell__card-pic {
  width: 100%;
}
.topsell__rome-pic {
  width: 100%;
}
.topsell__link {
  display: block;
  &:hover {
    border-radius: 28px;
    box-shadow: 0 0px 17px rgba($color: rgb(0, 0, 0), $alpha: 0.25);
    transition: all 0.2s ease;
  }
}
.topsell__card-desc {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 26px 29px 42px 22px;
  background-color: #fff;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 1px 10px rgba($color: #000, $alpha: 0.07);
}
.topsell__card-title {
  margin-bottom: 19px;
  display: flex;
  justify-content: space-between;
  color: #5e6282;
  line-height: 124.5%;
  font-weight: 500;
}

.topsell__card-duration {
  padding-left: 32px;
  color: #5e6282;
  line-height: 124.5%;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  &::before {
    content: url(../img/icons/nav-icon.svg);

    display: block;
    position: absolute;
    top: 0;
    left: -3px;
  }
}
//*topsell end--------------------
//*booking start------------------
.booking {
  margin-bottom: 150px;
  position: relative;
}
.booking__decoration {
  position: absolute;
  right: 65px;
  top: -90px;
}
.booking__ellipse {
  fill: #59b1e6;
  background: #59b1e6;
  opacity: 0.8;
  filter: blur(100px);
}
.booking__container {
  max-width: 1065px;
  margin: 0 auto;
}
.booking__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.booking__desc {
  max-width: 50%;
}
.booking__title {
  margin-bottom: 17px;
}
.booking__subtitle {
  margin-bottom: 32px;
  text-align: start;
  max-width: 511px;
  letter-spacing: 0.01px;
}
.booking__step {
  padding-left: 68px;
  margin-bottom: 48px;
  font-size: 16px;
  line-height: 124.5%;
  color: #5e6282;
}
.step__title {
  margin-bottom: 5px;
  font-weight: 700;
}
.step__text {
  max-width: 327px;
  font-weight: 400;
}
.first-step {
  position: relative;
  &::before {
    content: url(../img/icons/choose-icon.svg);
    position: absolute;
    top: 3px;
    left: -1px;
    padding: 13px 11px 9px 13px;
    background-color: #f0bb1f;
    border-radius: 13px;
  }
}
.second-step {
  position: relative;
  &::before {
    content: url(../img/icons/swim-icon.svg);
    position: absolute;
    top: 3px;
    left: -1px;
    padding: 14px 11px 11px 13px;
    background-color: #f15a2b;
    border-radius: 13px;
  }
}
.third-step {
  position: relative;
  &::before {
    content: url(../img/icons/taxi-icon.svg);
    position: absolute;
    top: 2px;
    left: -1px;
    padding: 15px 11px 9px 12px;
    background-color: #006380;
    border-radius: 13px;
  }
}
.booking__card {
  position: relative;
  margin-top: 17px;
  margin-right: 65px;
  padding: 20px 25px 31px 25px;
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 26px;
}
.booking__card-img {
  margin-bottom: 26px;
}
.booking__card-pic {
  max-width: 325px;
}
.booking__card-title {
  margin-bottom: 13px;
  font-weight: 500;
  line-height: 124.5%;
  letter-spacing: 0.015em;
  color: #080809;
}
.booking__card-date {
  margin-bottom: 21px;
  margin-right: 13px;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  letter-spacing: -0.005em;
  color: #84829a;
  position: relative;
  // border-right: 1px solid #84829a;
  &::after {
    content: "";
    position: absolute;
    right: -13px;
    top: 7px;
    width: 16px;
    height: 1px;
    background-color: #84829a;
    border: 1px solid #84829a;
    transform: rotate(90deg);
  }
}
.booking__card-desc {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  letter-spacing: -0.005em;
  color: #84829a;
}

.booking__card-nav {
  margin-bottom: 30px;
}
.booking__card-nav-pic {
  max-width: 15px;
  max-height: 15px;
}
.booking__card-nav-link {
  display: inline-block;
  margin-right: 10px;
  padding: 12px 10px 5px 12px;
  background: #f5f5f5;
  border-radius: 50%;
  transition: all 0.2s ease;
  &:hover {
    background: #aed7e4;
  }
}
.booking__card-quantity {
  padding: 0 31px;
  font-weight: 500;
  font-size: 16px;
  line-height: 124.5%;
  letter-spacing: -0.02em;
  color: #84829a;
  position: relative;
  &::before {
    content: url(../img/icons/building-icon.svg);
    position: absolute;
    top: 0;
    left: 0;
  }
  &::after {
    content: url(../img/icons/heart-icon.svg);
    position: absolute;
    top: 0;
    right: 0;
  }
}
.booking__card-ongoing {
  padding: 16px 75px 36px 80px;
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02),
    0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852),
    0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481),
    0px 20px 13px rgba(0, 0, 0, 0.01),
    0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185),
    0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 18px;
  position: absolute;
  right: -112px;
  bottom: 52px;
}
.ongoing__title {
  margin: 0 0 6px 2px;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  letter-spacing: -0.035em;
  color: #84829a;
}
.ongoing__route {
  position: relative;
  margin-bottom: 14px;
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  letter-spacing: -0.015em;
  color: #080809;
  &::before {
    content: url(../img/temple.png);
    position: absolute;
    top: -21px;
    left: -60px;
  }
}
.ongoing__progress {
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  letter-spacing: -0.055em;
  color: #080809;
  position: relative;
  & span {
    color: #8a79df;
  }
  &::before {
    content: "";
    width: 156px;
    height: 5px;
    background: #f5f5f5;
    border-radius: 30px;
    position: absolute;
    bottom: -14px;
    left: 2px;
  }
  &::after {
    content: "";
    width: calc(156px * 0.4);
    height: 5px;
    background: #8a79df;
    border-radius: 30px;
    position: absolute;
    bottom: -14px;
    left: 2px;
  }
}
//*booking end--------------------
//*reviews start------------------
.reviews {
  margin-bottom: 53px;
}
.reviews__container {
  max-width: 1170px;
  margin-left: 185px;
}
.rewiews__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.reviews__titles {
  padding-top: 10px;
}
.reviews__title {
  text-transform: uppercase;
  margin-bottom: 9px;
}
.reviews__subtitle {
  text-align: left;
  max-width: 410px;
  line-height: 65px;
}
.reviews__slider {
  flex: 0 1 58%;
  min-width: 0;
  margin-right: 0;
}
.swiper {
  height: 400px;
  width: 500px;
}

.reviews__card {
  margin: 37px auto;
  background: #ffffff;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02);
  border-radius: 10px;
  width: 504px;
  height: 245px;
  padding: 28px 68px 34px 34px;
  position: relative;
}
.mike-card {
  &::before {
    content: "";
    background-image: url("../img/mike-foto.png");
    background-size: 100% 100%;
    width: 70px;
    height: 70px;
    display: inline-block;
    position: absolute;
    top: -35px;
    left: -42px;
  }
}
.chris-card {
  &::before {
    content: "";
    background-image: url("../img/anonim.png");
    background-size: 100% 100%;
    width: 70px;
    height: 70px;
    display: inline-block;
    position: absolute;
    top: -35px;
    left: -42px;
  }
}
.sumire-card {
  &::before {
    content: "";
    background-image: url("../img/sumire-foto.png");
    background-size: 100% 100%;
    width: 70px;
    height: 70px;
    display: inline-block;
    position: absolute;
    top: -35px;
    left: -42px;
  }
}

.reviews__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #5e6282;
  margin-bottom: 33px;
}
.reviews__author {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #5e6282;
  margin-bottom: 5px;
}
.reviews__place {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #5e6282;
}
// .swiper-pagination {
// }
// .swiper-button-prev,
// .swiper-button-next {
//   // position: static;
// }
.swiper-button-prev::after {
  color: #3e2e4d;
  transform: rotate(90deg);
  position: absolute;
  right: -629px;
  top: -60px;
}
.swiper-button-next::after {
  color: #3e2e4d;
  transform: rotate(90deg);
}
//*reviews end--------------------
//*sponsors start-----------------
.sponsors {
  margin-bottom: 109px;
}
.sponsors__container {
  max-width: 1073px;
  margin-left: 186px;
}
.sponsors__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  & li:nth-child(2) {
    margin-left: -18px;
    margin-top: 1px;
  }
  & li:nth-child(3) {
    margin-left: -5px;
    margin-top: 0;
  }
  & li:nth-child(4) {
    margin-left: -8px;
    margin-top: 3px;
  }
  & li:nth-child(5) {
    margin-left: 4px;
    margin-top: 0;
  }
}
.sponsors__item {
  filter: grayscale(100%);
  &:hover,
  &:active,
  &:focus {
    filter: grayscale(0%);
  }
}
//*sponsors end-------------------
//*subscribe start----------------
.subscribe {
  margin-bottom: 166px;
}
.subscribe__container {
  max-width: 1356px;
  margin-left: 135px;
  padding-top: 15px;
  position: relative;
  &::after {
    content: url(../img/subscribe-plane.png);
    position: absolute;
    opacity: 1;
    top: 2px;
    right: 114px;
  }
}
.subscribe__block-background {
  position: relative;
  width: 1170px;
  height: 407px;
  background: url("../img/icons/ellipse-lg.svg") left 19px bottom no-repeat,
    url("../img/icons/ellipse-sm.svg") right top no-repeat;
  background-color: #dfd7f9;
  opacity: 0.2;
  border-radius: 129px 20px 20px 20px;
}
.subscribe__block-content {
  position: absolute;
  top: 16px;
  left: 156px;
}
.subscribe__title {
  margin: 0 auto 73px;
  padding-top: 79px;
  max-width: 860px;
  font-weight: 600;
  font-size: 33px;
  line-height: 54px;
  text-align: center;
  color: #5e6282;
}

.subscribe__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.subscribe__mail {
  margin-right: 24px;
}
.input__mail-field {
  background: #ffffff;
  border-radius: 10px;
  width: 421px;
  height: 68px;
  &::placeholder {
    background: url(../img/icons/envelope.svg) left 31px center no-repeat;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #39425d;
    padding: 25px 280px 26px 66px;
  }
}
.subscribe__btn {
  margin-right: 42px;
}
.button__form {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  padding: 22px 50px 23px;
  background: linear-gradient(180deg, #ff946d 0%, #ff7d68 100%);
  border-radius: 10px;
  transition: all 0.2s ease;
  &:hover,
  &:active,
  &:focus {
    background: linear-gradient(0deg, #b12307 0%, #ff7d68 100%);
  }
}
.bottom-area {
  color: #e5e5e5;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  bottom: -67px;
  right: 37px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  row-gap: 15px;
  column-gap: 22px;
}

//*subscribe end------------------
//*footer start-------------------
.footer {
  margin-bottom: 74px;
}
.footer__container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.footer__firm {
  margin-left: 15px;
  max-width: 210px;
}
.firm__title {
  font-weight: 500;
  font-size: 44px;
  line-height: 66px;
  color: #181e4b;
  margin-bottom: 20px;
}
.firm__slogan {
  letter-spacing: 0.27px;
  font-weight: 500;
  font-size: 13px;
  line-height: 124.5%;
  color: #5e6282;
}
.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 21px 0 0 81px;
  & ul:nth-child(1) {
    margin-right: 75px;
  }
  & ul:nth-child(2) {
    margin-right: 91px;
  }
}
.footer__menu-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 124.5%;
  color: #080809;
  margin-bottom: 34px;
}
.footer__menu-item {
  margin-bottom: 12px;
}
.footer__menu-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 124.5%;
  color: #5e6282;
  &:hover,
  &:active,
  &:focus {
    opacity: 0.3;
    transition: all 0.2s ease;
  }
}
.footer__socnetwork {
  margin-left: 78px;
  margin-top: 13px;
}
.footer__soclinks {
  margin-bottom: 15px;
}
.footer__soclink {
  display: inline-block;
}
.footer__soclink-insta {
  display: inline-block;
}
.facebook-link {
  margin: 8px 10px 10px 5px;
  padding: 16px 17px 12px 18px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  &:hover,
  &:active,
  &:focus {
    background: #0b74b6;
    transition: all 0.2s ease;
  }
}

.instagram-link {
  filter: grayscale(100%);
  &:hover,
  &:active,
  &:focus {
    filter: grayscale(0%);
    transform: scale(1.1);
    transition: all 0.2s ease;
  }
}
.twitter-link {
  margin: 9px 10px 10px 9px;
  padding: 15px 12px 14px 12px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  &:hover,
  &:active,
  &:focus {
    background: #59b1e6;
    transition: all 0.2s ease;
  }
}
.footer__app-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 124.5%;
  letter-spacing: 0.005em;
  color: #5e6282;
  margin-left: 6px;
  margin-bottom: 15px;
}

.footer__google-btn {
  display: inline-block;
  margin-left: 4px;
}
.google-app-link {
  display: block;
  position: relative;
  &::after {
    content: url(../img/icons/google-play-icon.svg);
    position: absolute;
    left: 17px;
    top: 7px;
  }
  filter: grayscale(100%);
  &:hover,
  &:active,
  &:focus {
    filter: grayscale(0%);
    transform: scale(1.1);
    transition: all 0.2s ease;
  }
}
.google-app-text {
  padding: 9px 10px 10px 42px;
  background: #080809;
  border-radius: 17.5px;
}
.footer__apple-btn {
  display: inline-block;
  margin-left: 2px;
}
.apple-app-link {
  display: block;
  position: relative;
  &::after {
    content: url(../img/icons/apple-icon.svg);
    position: absolute;
    left: 17px;
    top: 8px;
  }
  &:hover,
  &:active,
  &:focus {
    transform: scale(1.1);
    transition: all 0.2s ease;
  }
}
.apple-app-text {
  padding: 8px 9px 9px 36px;
  background: #080809;
  border-radius: 17.5px;
}

//*footer end---------------------
.rights {
  position: relative;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 124.5%;
  color: #5e6282;
  margin-left: -7px;
  margin-bottom: 74px;
}
.decoration-bottom {
  position: absolute;
  bottom: -75px;
  right: 0;
  z-index: -1;
}

.ellipse-bottom {
  fill: #d5aee4;
  background: #d5aee4;
  opacity: 0.3;
  filter: blur(150px);
}

//*media start-----------------
@media screen and (max-width: 1370px) {
  body {
    padding: 0 20px;
  }
  .intro__image {
    right: 0px;
    max-width: 58%;
  }
  .category {
    margin-right: 0px;
  }
  .topsell__title {
    margin-right: 0px;
  }
  .topsell__subtitle {
    margin-right: 0px;
  }
  .reviews__container {
    margin: 0 auto;
  }
  .swiper-pagination {
    display: none;
  }
  // .swiper-button-prev,
  // .swiper-button-next {
  //   // position: static;
  // }
  .swiper-button-prev::after {
    color: #3e2e4d;
    transform: rotate(0deg);
    position: static;
  }
  .swiper-button-next::after {
    color: #3e2e4d;
    transform: rotate(0deg);
  }
  .sponsors__container {
    margin: 0 auto;
  }
  .subscribe__container {
    &::after {
      right: 10px;
    }
  }
  .subscribe__container {
    margin-left: 0px;
  }
  .subscribe__block-background {
    max-width: 100%;
  }
  .footer__soclinks {
    margin: 15px;
  }
  .footer__app-title {
    text-align: center;
    margin-left: 0px;
  }
}
@media screen and (max-width: 1200px) {
  .header {
    padding: 49px 40px 0;
  }
  .intro__subtitle {
    font-size: 75px;
  }
  .booking__card-ongoing {
    right: 0px;
    bottom: -68px;
  }
  .subscribe__container {
    margin-left: 0px;
  }
  .footer__container {
    justify-content: center;
  }
  .footer__socnetwork {
    margin: 40px;
  }
}
@media screen and (max-width: 1090px) {
  .intro__subtitle {
    font-size: 64px;
  }
  .intro__block {
    background-position: 194px 258px;
  }
}
@media screen and (max-width: 1035px) {
  .header__list {
    justify-content: space-between;
    & li:first-child {
      margin-right: 20px;
    }
    & li:nth-child(2) {
      margin-right: 20px;
    }
    & li:nth-child(3) {
      margin-right: 20px;
    }
    & li:nth-child(4) {
      margin-right: 20px;
    }
    & li:nth-child(5) {
      margin-right: 20px;
    }
    & li:nth-child(6) {
      margin-right: 20px;
    }
  }
  .header__link {
    font-size: 15px;
  }
  .intro__block {
    padding: 39px 28px;
    background-position: 190px 160px;
  }
  .intro {
    margin-bottom: 50px;
  }
  .category {
    margin-bottom: 150px;
  }
  .subtitle {
    font-size: 42px;
  }
  .subtitle__category {
    margin-bottom: 40px;
  }
  .topsell {
    margin-bottom: 100px;
  }
  .booking {
    margin-bottom: 100px;
  }
  .reviews {
    margin-bottom: 0px;
  }
  .reviews__card {
    width: 451px;
    height: 317px;
    padding: 28px 40px 39px 49px;
  }
  .sponsors {
    margin-bottom: 0px;
  }
  .subscribe__block-content {
    left: 84px;
  }
  .subscribe {
    margin-bottom: 100px;
  }
  .footer {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 995px) {
  .subtitle {
    font-size: 36px;
  }
  .intro {
    background-position: 600px 0px;
  }
  .intro__block {
    background-position: 110px 147px;
  }
  .intro__title {
    font-size: 18px;
  }
  .intro__subtitle {
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 10px;
  }
  .plus__area,
  .bottom-area {
    font-size: 15px;
    row-gap: 5px;
    -webkit-column-gap: 10px;
    column-gap: 10px;
  }
  .category {
    margin-bottom: 130px;
  }
  .title__category {
    margin-bottom: 0px;
  }
  .subtitle__category {
    margin-bottom: 22px;
  }
  .second-block::before {
    padding: 165px 115px;
  }
  .second-block::after {
    bottom: -39%;
    left: -4%;
    padding: 35px 35px;
    border-radius: 20px 0px 6px;
  }
  .topsell {
    margin-bottom: 75px;
  }
  .topsell__title {
    margin-bottom: 0px;
  }
  .topsell__subtitle {
    margin-bottom: 20px;
  }
  .booking {
    margin-bottom: 75px;
  }
  .rewiews__wrapper {
    justify-content: center;
  }
  .reviews__titles {
    padding-top: 0px;
    text-align: center;
    margin-bottom: 10px;
  }
  .reviews__subtitle {
    text-align: center;
    max-width: 474px;
    line-height: 58px;
  }
  .subscribe {
    margin-bottom: 75px;
  }
  .subscribe__title {
    font-size: 27px;
  }
  .bottom-area {
    bottom: -30px;
  }
}
@media screen and (max-width: 953px) {
  .header__link {
    font-size: 15px;
  }
  .intro {
    margin-bottom: 10px;
  }
  .intro__block {
    background-position: 82px 135px;
  }
  .intro__title {
    font-size: 15px;
  }
  .intro__subtitle {
    font-size: 39px;
    line-height: 56px;
  }
  .intro__text {
    margin-bottom: 20px;
  }
  .intro__btn-find {
    font-size: 15px;
    margin-right: 85px;
    padding: 16px 17px 16px;
  }
  .intro__btn-demo {
    font-size: 15px;
  }
  .intro__btn-demo::before {
    left: -60px;
  }
  .category {
    margin-bottom: 40px;
  }
  .subtitle__category {
    margin-bottom: 0px;
  }
  .category__wrapper {
    margin: 0 auto;
    max-width: 550px;
  }
  .category__block {
    margin: 40px 20px;
  }
  .topsell {
    margin-bottom: 50px;
  }
  .topsell__wrapper {
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }
  .topsell__card {
    flex: 0 1 35%;
    margin: 31px;
  }
  .booking__desc {
    margin: 0 auto;
    max-width: 75%;
  }
  .booking__title {
    text-align: center;
    margin-bottom: 5px;
  }
  .booking__subtitle {
    text-align: center;
    margin-bottom: 20px;
    max-width: 550px;
  }
  .booking__step {
    margin-bottom: 35px;
  }
  .step__text {
    max-width: 450px;
  }
  .booking__card {
    margin: 20px auto;
  }
  .booking__card-ongoing {
    right: -112px;
    bottom: 52px;
  }
  .reviews__card {
    width: 300px;
    height: 337px;
    padding: 28px 47px 28px 47px;
  }
  .sponsors {
    margin-bottom: 35px;
  }
  .sponsors__wrapper {
    justify-content: space-around;
    align-items: center;
    max-width: 550px;
    margin: 0 auto;
  }
  .sponsors__wrapper li:nth-child(2) {
    margin-left: 0px;
    margin-top: 0px;
  }
  .sponsors__wrapper li:nth-child(5) {
    margin-left: -108px;
    margin-top: 2px;
  }
  .subscribe {
    margin-bottom: 50px;
  }
  .footer__firm {
    margin: 30px auto;
    max-width: 300px;
  }
  .firm__title {
    text-align: center;
    font-size: 40px;
  }
  .firm__slogan {
    text-align: center;
  }
  .footer__nav {
    margin: 0 auto;
  }
  .footer__menu-title {
    font-size: 20px;
    margin-bottom: 28px;
  }
}
